.details-container {
    background-color: #f4f4f4;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.additional-details {
    margin-top: 20px;
}

.characters-section {
    margin-top: 20px;
}

.characters-list {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    gap: 5px; 
}

.characters-list li {
    text-align: center;
}

.characters-list img {
    width: 50px; 
    margin-right: 10px;
}

.characters-section iframe {
    margin: 0 auto;
  }

  .top-bar {
    display: flex;
    justify-content: space-around;
    background-color: #333;
    padding: 10px;
    border-radius: 8px;
    margin-bottom: 20px;
  }

  .nav-link {
    color: white;
    text-decoration: none;
    font-size: 1.2em;
    transition: color 0.3s ease-in-out;
  }

  .nav-link:hover {
    color: #ccc;
  }