/* account.css */

.account-container {
    display: flex;
}

.profile-section,
.liked-anime-section,
.user-reviews-section,
.following-section,
.followers-section {
    margin-right: 20px;
}

.w-50 {
    max-width: 500px;
    margin: 0 auto;
}

h1 {
    font-size: 24px;
    margin-bottom: 20px;
}

/* Input fields */
input, select {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
}

/* Save button */
button {
    background-color: #007bff;
    color: #fff;
    padding: 10px;
    cursor: pointer;
}

/* Users link */
.btn-warning {
    background-color: #ffc107;
    color: #000;
    padding: 10px;
    text-decoration: none;
    display: block;
    text-align: center;
    margin-top: 20px;
}

/* User reviews section */
h2 {
    font-size: 20px;
    margin-top: 30px;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    margin-bottom: 20px;
    display: flex;
    align-items: center;
}

/* Force the images to be larger */
img {
    width: 100%; /* Adjust as needed */
    height: auto;
    margin-right: 10px;
}

/* Following and Followers section */
.following-section h2,
.followers-section h2 {
    margin-top: 0;
}
